body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b5ea1;
}

aside {
    float: left;
    background: #394119;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 80px;
    float: left;
}