{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/main.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css" integrity="sha384-NvKbDTEnL+A8F/AA5Tc5kmMLSJHUO868P+lDtTpJIeQdGYaUIuLr4lVGOEA1OcMy" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "deps/img/fishing-rod_4672586.png" %}">
    <title>{% block title %}{% endblock  %}</title>
</head>
<body>
    <aside>
        <img src="{% static "deps/img/fishing-rod_4672586.png" %}" alt="Лого">
        <span class="logo">Fishing-tackle</span>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url "index" %}"><li><i class="bi bi-house"></i>Главная</li></a>
            <a href="{% url "about" %}"><li><i class="bi bi-file-earmark-person"></i>О нас</li></a>
            <a href="{% url "news_home" %}"><li><i class="bi bi-newspaper"></i>Новости</li></a>
            <a href=""><li><i class="bi bi-telegram"></i>Контакты</li></a>
        </ul>
    </aside>
    
    <main>
        {% block content %}
        
        {% endblock  %}
    </main>

</body>
</html>