{% extends "main/base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="features">
    <h1>{{ title }}</h1>
    <p>Ассортимент магазина</p>
    <button class="btn btn-warning">Просто нажми</button>

    {% for el in values %}
        {% if el == 'Hello' %}
            {% filter upper %}
                <p>{{ el }}</p>
            {% endfilter %}
        {% endif %} 
    {% endfor %}

    {% for el in obj %}
       <p>{{ el }}</p> 
    {% endfor %}
</div>
    

{% endblock  %}